<!DOCTYPE html>
<html lang="en">
<head>
<title>添加新分类</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="__STATIC__/admin/style/adminStyle.css" rel="stylesheet" type="text/css" />
<link href="__STATIC__/fuxuan/styles.css" rel="stylesheet" type="text/css" />
<link href="__STATIC__/fuxuan/inserthtml.com.radios.css" rel="stylesheet" type="text/css" />
<script src="__STATIC__/fuxuan/modernizr.js"></script>
<style type="text/css">  
     #preview, .img, img  
     {  
     width:150px;  
     height:150px;  
     }  
     #preview  
     {  
    border:1px solid #000;  
    }  
    .center{
      display: flex;
    }
    .center label{
      display: flex;
      line-height: 17px;
    }
    .center span{
      margin:0 auto;
    }
    
</style> 
</head>
<body>
 <div class="wrap">
  <div class="page-title">
    <span class="modular fl"><i class="add_user"></i><em>添加分类</em></span>
  </div>
  <form action="add_insert" method="POST" enctype="multipart/form-data">
  <table class="list-style">
  
   <tr>
    <td style="width:15%;text-align:right;">分类名字：</td>
    <td><input type="text" class="textBox length-middle" name="brand_name"/></td>
   </tr>

   <tr>
    <td style="text-align:right;">图片：</td>
    <td><div id="preview" ></div><input type="file" onchange="preview(this)" name="brand_pic"/></td>
   </tr>

   <tr>
    <td style="width:15%;text-align:right;">分类顺序：</td>
    <td><input type="text" onkeyup="(this.v=function(){this.value=this.value.replace(/[^0-9-]+/,'');}).call(this)" onblur="this.v();" class="textBox length-middle" name="brand_num"/></td>
   </tr>

   <tr>
    <td style="text-align:right;"></td>
    <td><input type="submit" class="tdBtn" value="添加新分类"/></td>
   </tr>

  </table>
  </form>
 </div>
</body>
<script type="text/javascript">    
     function preview(file)  
     {  
     var prevDiv = document.getElementById('preview');  
     if (file.files && file.files[0])  
     {  
     var reader = new FileReader();  
     reader.onload = function(evt){  
     prevDiv.innerHTML = '<img src="' + evt.target.result + '" />';  
    }    
     reader.readAsDataURL(file.files[0]);  
    }  
     else    
     {  
     prevDiv.innerHTML = '<div class="img" style="filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale,src=\'' + file.value + '\'"></div>';  
     }  
     }  
</script>
</html>