<!DOCTYPE html>
<html lang="en">
<head>
<title>级别列表</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="__STATIC__/admin/style/H-ui.css">
<link href="__STATIC__/admin/style/adminStyle.css" rel="stylesheet" />
<script src="__STATIC__/admin/js/jquery.js"></script>
<script src="__STATIC__/admin/js/public.js"></script>
</head>
<body>
 <div class="wrap">
  <div class="page-title">
    <span class="modular fl"><i></i><em>级别列表</em></span>
    <span class="modular fr"><a href="/public/admin/level/add_show" class="pt-link-btn">+添加级别</a></span>
  </div>
  <table class="list-style Interlaced">
   <tr>
    <th>级别名字</th>
    <th>级别图片</th>
    <th>级别备注</th>
    <th>操作</th>
   </tr>
    {volist name='$p->data' id='x'}
      <tr class="trbgcolor">
        <td class="center">
          <span>
            <em>{$x.level_name}</em>
          </span>
        </td>
      <td class="center">
        <img style="width:120px;height:120px" src="__STATIC__/../uploads/{$x.level_pic}">
      </td>      
      <td class="center">
       <span>
        <em>{$x.level_remark}</em>
       </span>
      </td>
      <td class="center">
       <a href="/public/admin/level/updata_show?id={$x.id}" title="编辑"><img src="__STATIC__/admin/images/icon_edit.gif"/></a>
       <a title="删除" href="/public/admin/level/del?id={$x.id}"><img src="__STATIC__/admin/images/icon_drop.gif"/></a>
      </td>
      </tr>   
    {/volist}
  </table>
  <!-- BatchOperation -->
  <div style="overflow:hidden;">
      <!-- Operation -->
	  <!-- turn page -->
  
    <div class="turnPage center fr">
      {$p->render}  
    </div>
  </div>
 </div>
</body>
</html>