<!DOCTYPE html>
<html lang="en">
<head>
<title>店铺信息</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="__STATIC__/admin/style/H-ui.css">
<link href="__STATIC__/admin/style/adminStyle.css" rel="stylesheet" />
<script src="__STATIC__/admin/js/jquery.js"></script>
<script src="__STATIC__/admin/js/public.js"></script>
</head>
<body>
 <div class="wrap">
  <div class="page-title">
    <span class="modular fl"><i></i><em>店铺信息</em></span>
  </div>
  <table class="list-style Interlaced">
   <tr>
    <th>店铺图片</th>
    <th>店铺名称</th>
    <th>店铺电话</th>
    <th>店铺地址</th>
    <th>操作</th>
   </tr>
    {volist name='$p->data' id='x'}
      <tr class="trbgcolor">
        <td class="center">
        <img style="width:120px;height:120px" src="__STATIC__/../uploads/{$x.config_pic}">
      </td>

        <td class="center">
          <span>
            <em>{$x.config_name}</em>
          </span>
        </td>

        <td class="center">
          <span>
            <em>{$x.config_phone}</em>
          </span>
        </td>

        <td class="center">
          <span>
            <em>{$x.config_dizhi}</em>
          </span>
        </td>


      <td class="center">
       <a href="config/updata_show?id={$x.id}" title="编辑"><img src="__STATIC__/admin/images/icon_edit.gif"/></a>
      </td>
      </tr>   
    {/volist}
  </table>
  <!-- BatchOperation -->
  <div style="overflow:hidden;">
      <!-- Operation -->
	  <!-- turn page -->
  
    <div class="turnPage center fr">
      {$p->render}  
    </div>
  </div>
 </div>
</body>
</html>