<!DOCTYPE html>
<html lang="en">
<head>
<title>车辆列表</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="__STATIC__/admin/style/H-ui.css">
<link href="__STATIC__/admin/style/adminStyle.css" rel="stylesheet" />
<script src="__STATIC__/admin/js/jquery.js"></script>
<script src="__STATIC__/admin/js/public.js"></script>
</head>
<body>
 <div class="wrap">
  <div class="page-title">
    <span class="modular fl"><i></i><em>车辆列表</em></span>
    <span class="modular fr"><a href="/public/admin/car/add_show" class="pt-link-btn">+添加车辆</a></span>
  </div>
  <table class="list-style Interlaced">
   <tr>
    <th>标签</th>
    <th>名字</th>
    <th>图片</th>
    <th>首页显示</th>
    <th>首页显示顺序</th>
    <th>品牌</th>
    <th>级别</th>
    <th>车辆配置</th>
    <th>本店价</th>
    <th>商场价</th>
    <th>汽车备注</th>
    <th>操作</th>
   </tr>
    {volist name='$p->data' id='x'}
      <tr class="trbgcolor">

      <td class="center">
        <span>
          <em>{$x.car_tag}</em>
        </span>
      </td>

      <td class="center">
        <span>
          <em>{$x.car_name}</em>
        </span>
      </td>
      
      <td class="center">
        <img style="width:120px;height:120px" src="__STATIC__/../uploads/{$x.car_pic}">
      </td>

      <td class="center">
        <img
        {if condition="'显示'==$x.car_index_show" }src='__STATIC__/admin/images/yes.gif'{/if}
        {if condition="'不显示'==$x.car_index_show" }src='__STATIC__/admin/images/no.gif'{/if}
         />
      </td>

      <td class="center">
        <span>
          <em>{$x.car_index_show_num}</em>
        </span>
      </td>

      <td class="center">
       <span>
        <em>{$x.brand.brand_name}</em>
       </span>
      </td>

      <td class="center">
       <span>
        <em>{$x.level.level_name}</em>
       </span>
      </td>

      <td class="center">
       <span>
        <em>{$x.config.config_name}</em>
       </span>
      </td>  

      <td class="center">
       <span>
        <em>{$x.car_shop_price}</em>
       </span>
      </td>

      <td class="center">
       <span>
        <em>{$x.car_vender_price}</em>
       </span>
      </td>


      <td class="center">
       <span>
        <em>{$x.car_remark}</em>
       </span>
      </td>

      <td class="center">
       <a href="/public/admin/car/updata_show?id={$x.id}" title="编辑"><img src="__STATIC__/admin/images/icon_edit.gif"/></a>
       <a title="删除" href="/public/admin/car/del?id={$x.id}"><img src="__STATIC__/admin/images/icon_drop.gif"/></a>
      </td>

      </tr>   
    {/volist}
  </table>
  <!-- BatchOperation -->
  <div style="overflow:hidden;">
      <!-- Operation -->
	  <!-- turn page -->
  
    <div class="turnPage center fr">
      {$p->render}  
    </div>
  </div>
 </div>
</body>
</html>